@import url(https://fonts.googleapis.com/css?family=Amatic+SC:700);

body {
  background-image: url('Floral.jpg');
  text-align: center;
  font-family: 'Amatic SC', cursive;
  /*height: 50%;
  overflow: hidden;*/
}



.container {
  width: 65%;
  height: 90%;
  overflow: auto;
  margin: 35px auto;
  background: rgba(255, 255, 255, 0.3);
  /*border-radius: 20px;*/

}
table {
  border: 3px solid black;
  margin: 30px auto 0 auto;
  /*height: 30em;
  width:30em;*/
  /*width: 50%;*/
}

td {
  background: white;
  font-size: 90px;
  border: 3px solid black;
  width: 150px;
  height: 150px;
  text-align: center;
  cursor: pointer;
  color: rgb(182, 213, 234)
}

td:hover, #reset:hover {
  background: rgb(182, 213, 234);
}

#reset {
  color: white;
  border: 3px solid rgb(101, 166, 0);
  background: rgb(47, 118, 91);
  width: 150px;
  padding: .2rem;
  font-size: 1.5rem;
  font-family: 'Amatic SC', cursive;
  margin-top: 0;
  margin-bottom: 5px;

}

.o {
  color: rgb(255, 156, 34) !important;
}

.x{
  color: rgb(158, 108, 162) !important;
}

footer {
  display: block;
  text-align: center;
  padding: 20px;
}
